.App {
  text-align: center;
  min-height: 100vh;
  background: #3EB489;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.search-form {
  min-height: 10vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 10px;
  background: #e2ffcd;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
textarea:focus,
input:focus {
  outline: none;
}

.search-button {
  background: black;
  border: none;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  color: black;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(39, 39, 41, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}
